#ignore iwc files
*.iwc
iwcpp

#ignore compiled binaries
*.out

#ignore 
test.out.dSYM

#ignore .DS_Store files
.DS_Store

#ignores .vscode changes
.vscode

#allow for examples to be passed through
!examples/*.iwc