#ignore iwc files
*.iwc
iwcpp

#ignore compiled binaries
*.out

#ignore .DS_Store files
.DS_Store

#ignores .vscode changes
.vscode

#ignore testing
**build/

#ignore misc
test.out.dSYM
*.txt

#allow for specific files to be passed through
!examples/*.iwc
!CMakeLists.txt
!tests/sampFiles/*iwc
!tests/sampFiles/*.txt